
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" data-dismiss="modal" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title">保存終了</h4>
    </div>
    <div class="modal-body">
      <p>保存を終了しました。一覧へ戻ります。</p>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" data-go-list="" class="btn btn-default">Close</button>
    </div>
  </div>
</div>