
<div class="sidebar-nav navbar-collapse">
  <ul class="nav">
    <li><a href="#"><i class="fa fa-th-list fa-fw fa-lg"></i> Memo list</a></li>
    <li><a href="#/add"><i class="fa fa-plus fa-fw fa-lg"></i> New memo</a></li>
    <li><a href="#/note_mgr"><i class="fa fa-book fa-fw fa-lg"></i> Note mgr</a></li>
    <li><a href="#/tag_mgr"><i class="fa fa-tags fa-fw fa-lg"></i> Tag mgr</a></li>
  </ul>
</div>
<!-- /.sidebar-collapse-->
<div class="sidebar-nav navbar-collapse">
  <div class="inner">
    <h3>Search</h3>
  </div>
</div>
<!-- /.sidebar-collapse-->
<div id="side-note-list"></div>
<div id="side-tag-list"></div>
<!-- /.sidebar-collapse-->
<!-- /.navbar-static-side-->