doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="author", content="")
    meta(name="keywords", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Memo-v2


     //- Bootstrap Core CSS
    link(href="assets/sb-admin-2/css/bootstrap.min.css",rel="stylesheet")

    //- MetisMenu CSS
    link(href="assets/sb-admin-2/css/plugins/metisMenu/metisMenu.min.css",rel="stylesheet")

    //- Timeline CSS
    link(href="assets/sb-admin-2/css/plugins/timeline.css",rel="stylesheet")

    //- Custom CSS
    link(href="assets/sb-admin-2/css/sb-admin-2.css",rel="stylesheet")

    //- Morris Charts CSS
    link(href="assets/sb-admin-2/css/plugins/morris.css",rel="stylesheet")

    //- Custom Fonts
    link(href="assets/sb-admin-2/font-awesome-4.1.0/css/font-awesome.min.css",rel="stylesheet",type="text/css")
    link(href="assets/css/style.css",rel="stylesheet",type="text/css")

    //- General Scripts
    //- script(src="js/general.js")


  body
    div.body-wrap
      //- nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
      nav.navbar.navbar-inverse.navbar-static-top(role='navigation', style='margin-bottom: 0')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='index.html') Memo-v2
        // /.navbar-header
        ul.nav.navbar-top-links.navbar-right

          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              span About
              i.fa.fa-caret-down
            ul.dropdown-menu.dropdown-messages
              li
                a(href='#')
                  div
                    strong John Smith
                    span.pull-right.text-muted
                      em Yesterday
                  div
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
              li.divider
              li
                a(href='#')
                  div
                    strong John Smith
                    span.pull-right.text-muted
                      em Yesterday
                  div
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
              li.divider
              li
                a(href='#')
                  div
                    strong John Smith
                    span.pull-right.text-muted
                      em Yesterday
                  div
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
              li.divider
              li
                a.text-center(href='#')
                  strong Read All Messages
                  i.fa.fa-angle-right
            // /.dropdown-messages




          // /.dropdown
        // /.navbar-top-links

        .navbar-default.sidebar(role='navigation')
          .sidebar-nav.navbar-collapse
            ul#side-menu.nav
              li
                a(href='#')
                  i.fa.fa-plus.fa-fw
                  | New memo
          // /.sidebar-collapse
          .sidebar-nav.navbar-collapse
            .inner
              h4 Notes
              .btn-group-vertical(data-toggle='buttons')
                label.btn.btn-success
                  input#option1(type='radio', name='options')
                  | All
                label.btn.btn-success
                  input#option2(type='radio', name='options')
                  | Option 2
                label.btn.btn-success
                  input#option3(type='radio', name='options')
                  | Option 3

          .sidebar-nav.navbar-collapse
            .inner
              h4 Tags
              div.btn-group-vertical(data-toggle='buttons')
                label.btn.btn-success
                  input(type='checkbox', checked='')
                  | Option 1
                label.btn.btn-success
                  input(type='checkbox')
                  | Option 2
                label.btn.btn-success
                  input(type='checkbox')
                  | Option 3
          // /.sidebar-collapse
        // /.navbar-static-side




    //- container
    div#page-wrapper
        div.row
            div.col-lg-12
                h1.page-header List









    //- container
    script(type="text/javascript", src="bower_components/requirejs/require.js", data-main="js/main")
