//- div.row
div.modal-dialog
    div.modal-content
      div.modal-header
        button.close(type="button", data-dismiss="modal")
          span(aria-hidden="true") &times;
          span.sr-only Close
        h4.modal-title メモの削除
      div.modal-body
        p 「 <%= id %> : <%= title %> 」を削除します。宜しいですか？
      div.modal-footer
        button.btn.btn-default(type="button", data-dismiss="modal") Close
        button.btn.btn-danger(type="button", data-destroy="") Delete

