//- div.row
div.col-lg-12
    h1.page-header Memo list
    table#list-table.table.table-striped.table-bordered.table-hover
      thead
        tr
          th.no #
          th.todo todo
          th.title title
          th.content content
          th.func func
      tbody
        tr.spinner-container
          td.text-center(colspan="5")
            i.fa.fa-spinner.fa-spin.fa-3x
            br
            span(style="line-height: 2.5em;font-size:200%;") loading...
        tr.non-memo-container.hidden
          td(colspan="5",style="text-align: center;") no memo
