//- .sidebar-nav.navbar-collapse
.inner
  h4 Notes
  #side-note-container.btn-group-vertical(data-toggle='buttons')
    label.btn.btn-success.active
      input#option1(type='radio', name='notes', checked="")
      | All
    label.btn.btn-success
      input#option2(type='radio', name='notes')
      | Note 1
    label.btn.btn-success
      input#option3(type='radio', name='notes')
      | Note 2
