//- .navbar-default.sidebar(role='navigation')
.sidebar-nav.navbar-collapse
  ul.nav
    li
      a(href='#')
        i.fa.fa-th-list.fa-fw.fa-lg
        |  Memo list
    li
      a(href='#/add')
        i.fa.fa-plus.fa-fw.fa-lg
        |  New memo
    li
      a(href='#/note_mgr')
        i.fa.fa-book.fa-fw.fa-lg
        |  Note mgr
    li
      a(href='#/tag_mgr')
        i.fa.fa-tags.fa-fw.fa-lg
        |  Tag mgr
// /.sidebar-collapse
.sidebar-nav.navbar-collapse
  .inner
    h3 Search
// /.sidebar-collapse
#side-note-list
#side-tag-list
// /.sidebar-collapse
// /.navbar-static-side
