//- .sidebar-nav.navbar-collapse
.inner
  h4 Tags
  div#side-tag-container.btn-group-vertical(data-toggle='buttons')
    label.btn.btn-success
      input(type='checkbox')
      | tag 1
    label.btn.btn-success
      input(type='checkbox')
      | tag 2
    label.btn.btn-success
      input(type='checkbox')
      | tag 3
